---

---
<footer class="bg-gray-800 text-white p-4 mt-8">
    <div class="container mx-auto text-center">
        <p class="text-sm">© 2024 Example blog. All rights reserved.</p>
        <p class="text-sm">
            Follow me on
            <a href="https://github.com/yourusername" class="text-blue-400 hover:underline">GitHub</a>,
            <a href="https://www.linkedin.com/in/santiago-mejorada-a917ab100" class="text-blue-400 hover:underline">Linkedin</a>
        </p>
    </div>
</footer>